html{
    scroll-behavior: smooth;
}

body{
  background-color: rgb(92, 92, 235);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  color: black;
  mix-blend-mode: color-burn;
  text-shadow: 1px 1px 1px 1px solid white;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav li{
  display:inline;
  padding-right:20px;
}

nav ul li a.active-page{
  display:inline;
  
  border: 3px solid black;
}


nav{
  background-color: white;
  padding: 35px 0; 
  text-align: left;
}

footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}

header p{
  color: black;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
  text-shadow: 2px 2px #ffffff;
  mix-blend-mode: color-burn;
  text-shadow: 1px 1px 1px 1px solid white;
}
/*END STARTER CSS - DO NO CHANGE*/

.resume{
  width: 50%;
  margin: auto;
  max-height: 60%;
}

.res_text {
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  /*Your code here:*/
  margin: 10px;

}

.contact_text {
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  /*Your code here:*/
  margin: 10px;
}


/*Req 1*/
nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/*Req 2*/
/*Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/
nav a:hover{
  text-decoration: underline;
}
/*Req 3a*/
.skip a{
  background: white;
  left: 0;
  padding: 7px;
  -webkit-transition: top 2s ease-out;
  transition: top 2s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;
}
/*Req 3b*/
/*Write selector/rule property to position the skip class element*/
.skip a:focus{
  position: absolute;
  top: 10px;
}
/*Req 4*/
/*Write selector/rule property to style all elements when in focus*/
*:focus{
  border-style: dotted none dotted none;
  border-radius: 2px;
}
/*Req 5*/
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto auto auto auto;
  row-gap: 20px;
}

header{
  background-attachment: fixed;    
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 400px; 
    

  margin-bottom: 25px;
  background-color: rgb(92, 92, 235);
  filter: brightness(140%);
}
/*Req 7a*/
.about, .method, .final {

  grid-column: 2 / span 2;

}

/*Req 8a, 8b, and 8c*/
.about-image, .method-image, .final-image {
  /*Your Code Here*/
  grid-column: 1 / span 3;
  max-height: 650px;
  overflow: hidden;
}

/*Req 7b & 8d*/
.about, .about-image{
   /*Your Code Here*/
  grid-row: 1 / span 1;
}

/*Req 7b & 8d*/
.method, .method-image{
   /*Your Code Here*/
  grid-row: 2 / span 1;
}

/*Req 7b & 8d*/
.final, .final-image{
  /*Your Code Here*/
 grid-row: 3 / span 1;
}

.contacttext{
  text-align: center;
  color: black;
  font-size: larger;
}

/*Req 9*/
.text{
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
  /*Your code here:*/
  align-self: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.contacttext{
  text-align: center;
  color: black;
  font-size: larger;
  /* text-shadow: 2px 2px white; */
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/*TABLET VIEW Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  nav{
    padding: 30px 0px;
    /*Your code here:*/
    text-align: left;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media all and (min-width: 100px){
  
  .resumehead {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
  }

  img{
     width:100%;
  }
  
  .resume {
    width: 60%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    align-content: center;
    float: none;

    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
  }

  .resumehead {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
  }
  
  .res_text {
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
    /*Your code here:*/
    margin: 10px;
  }
  
  .contact_text {
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
    /*Your code here:*/
    margin: 10px;
  }

  .contacts{
    text-align: center;
    color: white;
    font-size: larger;
  }

  .embedres{
    position: relative;
    overflow: hidden;
  }

  /* div iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
  } */

  /*Req 10*/
  nav{
    padding: 30px 0px;
    /*Your code here:*/
    text-align: center;
  }

  /*Req 11*/
  .container{
    /*Your code here:*/
    display: grid;
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 400px 425px 425px 400px;
  }

  /*Req 12*/
  .about, .final, .method-image, .contact-image{
    /*Your code here:*/
    grid-column: 3 / span 2;
  }

  /*Req 13*/
  .about-image, .final-image, .method, .contacts{
    /*Your code here:*/
    grid-column: 2 / span 2;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
}

@media all and (min-width: 880px){
  
  .resumehead {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
  }

  img{
     width:100%;
  }
  
  .contacts{
    text-align: center;
    color: white;
    font-size: larger;
  }

  .embedres{
    position: relative;
    overflow: hidden;
  }

  .resume {
    width: 35%;
    margin: auto;
    max-height: 60%;
    float: left;
  }
  
  .res_text {
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
    
    margin: 10px;
  }

  .contact_text {
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
    margin: 10px;
  }

  nav{
    padding: 30px 0px;
    text-align: right;
  }

  .container{
    display: grid;
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 400px 425px 425px 400px;
  }

  .about, .client, .method-image, .contact-image{
    grid-column: 3 / span 2;
  }

  .about-image, .client-image, .method, .contacts{
    grid-column: 2 / span 2;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
}




@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  .resume{
    background-attachment: initial;
  }
}
